# .NET / Visual Studio
bin/
obj/
publish/
*.user
*.suo
*.useroscs
*.sln.docstates

# IDEs
.vscode/
.idea/

# Node / Frontend
node_modules/
dist/
.angular/
.npm/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
